body {
  margin: 0;
}

.container {
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
display: flex;
justify-content: center;
flex-direction: column;
overflow: auto;
background:
repeating-linear-gradient(90deg, transparent 0 50px,
  rgba(255, 127, 0, 0.25) 50px 56px,
  transparent 56px 63px,
  rgba(255, 127, 0, 0.25) 63px 69px,
  transparent 69px 116px,
  rgba(255, 206, 0, 0.25) 116px 166px),
repeating-linear-gradient(0deg, transparent 0 50px,
  rgba(255, 127, 0, 0.25) 50px 56px,
  transparent 56px 63px,
  rgba(255, 127, 0, 0.25) 63px 69px,
  transparent 69px 116px,
  rgba(255, 206, 0, 0.25) 116px 166px),
repeating-linear-gradient(-45deg, transparent 0 5px,
  rgba(143, 77, 63, 0.25) 5px 10px),
repeating-linear-gradient(45deg, transparent 0 5px,
  rgba(143, 77, 63, 0.25) 5px 10px);
}

.keyboard-container {
display: flex;
flex-direction: column;
align-items: center;
}

.keyboard {
width: 700px;
background-color: transparent;
padding: 10px;
border: 5px solid;
border-radius: 10px;
border-color: white;
margin-top: 50px;
}


textarea {
width: 500px;
height: 100px;
padding: 10px 15px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
font-size: 16px;
resize: none;
outline: none;
}

.image__button,
.active  {
margin-left: 10px;
margin-bottom: 10px;
border-radius: 8px;
width: 40px;
height: 40px;
cursor: pointer;
font-size: 15px;
box-sizing: border-box;
color: white;
background-color: coral;
text-decoration: none;
border: none;
}

.specific__button {
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 15px;
  box-sizing: border-box;
  color: white;
  background-color: coral;
  text-decoration: none;
  border: none;
}

.active {
animation: key_animation 0.5s forwards;
}

@keyframes key_animation {
  0% {
    background-color: rgb(241, 154, 22);
    border-radius: 10px;
    color: black;
  }
  100% {
    background-color: rgb(255, 242, 0);
    border-radius: 15px;
    color: rgb(211, 16, 78);
    box-shadow: inset;
  }
}

h1 {
font-size: 40px;
color:purple
}

.wide {
width: 90px;
}

.extra__wide {
width: 300px;
}

.caps__wide {
width: 115px;
}

.upper {
  text-transform: uppercase;
}

